rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read/write access to all users for development
      // IMPORTANT: Change these rules before deployment to production
      allow read, write;
    }
  }
} 